/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary":    #C92430,
  "secondary":  #000000,
  "dark":       #131921,
  "success":    #198754,
  "info":       #0DCAF0,
  "warning":    #a7c227,
  "danger":     #DC3545,
  "light":      #F8F9FA,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #C92430;
$secondary-color: #000000;
$ternary-color: #F8F9FA;
$white-color: #ffffff;


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
  


 }
 #top-header {
  background-color: $secondary-color;
}

#main-header {
  box-shadow: 1px 1px 1px #ceced4;
  .nav-item {
      border-right: 1px solid $secondary-color;
      padding: 0px 20px;
      &:last-child {
          border-right: 0px;
      }
      .nav-link {
          padding: 0px;
          color: $secondary-color;
          font-weight: 600;
          text-transform: uppercase;
          &:hover {
              color: $ternary-color;
          }
      }
      .dropdown-menu {
          width: 100%;
          .dropdown-item {
              color: $secondary-color;
              font-weight: 600;
              text-transform: uppercase;
              font-size: 14px;
              &:hover { 
                  color: $primary-color;
                  background-color: transparent;
              }
          }
      }
  }
}
#slider {
  position: relative;
  p {
      font-size: 18px;
  }
  .form-control {
      background: $primary-color;
      border: none;
      border-radius: 0px;
      font-size: 14px;
      &::placeholder {
          color: $secondary-color;
      }
  }
  .floatingTextarea2 {
      height: 50px;
  }
}